/*reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Birdiedaboy */
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    background-color: #475B98;
    display: flex;
    justify-content: space-between;
    align-items: center;
    filter: drop-shadow(0px 7px 9px #000000);
    
}

header h1 {
  margin: 0 0 0 2em;
    filter: drop-shadow(3px 3px 5px #000000);
}

header h1 a {
    color: #F8C778;
    font-size: 2em;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 800;
    }
header h1, nav a {
        text-transform: uppercase;
    }
nav{
    display: flex
}
header nav a {
    display: block;
    padding: 2em;
    color: white;
    font-family: 'Roboto Mono', monospace;
        
}
header h1 a, nav a {
        letter-spacing: .45rem;
    }
header nav a:hover {
    transition: color .9s;
    color: white;
    transition: background-color 2s;
    background-color: #8390CC;
 }

main{
    background-color: black;
    flex: 1 1 auto;
    background-image: url(img/BDQ-6890.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
}
main article:first-child{
    display: flex;
    flex-direction: column;
    align-items: center;
      
}
main article:first-child h1{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 6vw;
    color: #DAE7F3;
    text-shadow: 2px 2px 4px #212121;
}
main article nav{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 2vw;
}

main article nav a{
    font-family: 'Roboto Mono', monospace;
    color: aliceblue;
    font-size: 1.5vw
}

#OX{
    background-color: #F8C778;
    display: flex;
    align-items: center;
    align-content: space-around;
    padding: 10%
}
article asside:nth-child(odd){
    margin-right: 10%;
}
article asside:nth-child(even){
    margin-left: 10%;
}
article asside h2{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 5vw;
    padding-bottom: 3vw;
    text-align: center;
}
article asside p{
     font-family: 'Roboto Mono', monospace;
    text-align: left;
    font-size: 1.3vw;
}
article img{
    width: 45vw;
}
#PA{
    background-color: #475B98;
    display: flex;
    justify-content: space-around;
    align-items: center;
    Padding: 10%
}
#AN{
    background-color: #F8C778;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10%;
}

footer{
    
    background-color: #8390CC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
    padding-left: 3vw;
    padding-right: 3vw;
    
}
footer address{
    width: 55vw;
}
footer nav{
    
    display: flex;
    flex-flow: row-reverse;
   
    
}

footer nav a{
 
    width:6%;
    height: 5%;
    padding-left: 5%;
    padding-right: 2%;
}
footer nav a svg{
   width: 100%;
    height: 100%;
    color: #F8C778;
}
.instasvg{
    width: 100%;
    f
}
/********* Parte Responsiva ***********/

@media all and (max-width: 990px) {
  header {
    flex-direction: column;
  }
  
  header h1 {
  margin-top: .50em;
}
  
  header nav  {
    width: 100%;
    justify-content: space-around;
  }
}

 main{
        min-height: 50vw;
    }


/* El mas chiquillo */
@media all and (max-width: 600px) {
 
  header h1 {
    margin: .25em 0;
    align-self: left; /* alinear logo lado izq 'flex-container' */
}
  
  header nav {
    flex-direction: column;
  }
  
  header nav a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }
  
  header nav a:last-child {
    border-bottom: none; 
  }
    main{
        min-height: 100vw;
    }
    main article:first-child h1{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15vw;
    color: #DAE7F3;
    text-shadow: 2px 2px 4px #212121;
    text-align: center;
}
    main article nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    main article nav a{
        font-size: 6vw;
    }
}

